/* Navigation link styles */
a {
  cursor: pointer;
  cursor: hand;
}
nav {
  margin-bottom: 5px;
}
nav a {
  padding: 5px 10px;
  text-decoration: none !IMPORTANT;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* Players Styles */
.players li {
  background-color: #EEE;
  margin: 2px;
  
}
.players li:hover {
  background-color: #DDD;
}

/* Dashboard Cards */
.card {
  width: 100px;
  background-color: #EEE;
  display: inline-block;
  margin: 2px;
  padding: 5px;
}
.card:hover {
  background-color: #DDD;
}
.card label {
  margin-right: 3px;
}